#vim files
*.vimrc
*.vim

#ephemeral files
*.swp
*.swo
*.swn

# Python cache/Python files
# This is _C_ program, .py files 
# are for diagnostics only.
*.py
*.pyc
__pycache__

#R files
*.RData
*.Rhistory

#tex files and their droppings
*.tex
*.log
*.aux

#image or pdf files 
*.pdf
*.ps
*.dvi
*.jpg
*.jpeg
*.png
*.tiff

#tag files
tags

#object file and other c-compilation temp files
*.o
*.i
*.s
*.gch

#temp files
tmp[0-9]*

#binaries or other compiled things
a.out
a.out.dSYM
exec
/printAllIsoPoz4
/countAllPoz4

#zip files
*.zip
*.gz

#shell scripts
*.sh

#misc
/output
/output_info
/poset
/test

#Ignore development files
*_grain*
